# macOS

.DS_Store

# Build directories

build/
build-*/
debug/
release/

# C++ objects and libraries

*.slo
*.lo
*.o
*.obj
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

# Executables

*.exe

# macOS application bundles

*.app

# Qt

object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp

/.qmake.cache
/.qmake.stash

*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.qmlproject.user
*.qmlproject.user.*
*.autosave

*.moc
moc_*.cpp
moc_*.h
moc_predefs.h

qrc_*.cpp
ui_*.h

*.qmlc
*.jsc
*_qmlcache.qrc

Makefile*
*.qm
*.prl

# Qt unit tests

target_wrapper.*

# Qt Creator

*creator.user*

# CMake

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CMakeScripts/
compile_commands.json
CMakeLists.txt.user*

# Logs and temporary files

*.log
*.tmp
*.temp
*~

